*{
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition:all .2s linear;
    list-style:none;
    font-weight:500;
    outline: none;
    border:none;
    /* color:white; */
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}

body{
    background-image: url(assets/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*header Starts herer */
header{
    height:10vh;
    width:100vw;
    color:white;
}

nav{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    /* background-color:rgb(197, 230, 230); */
}

nav a{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .fa{
    font-size:1.6rem;
    cursor:pointer
}

.nav-left{
    width:20%;
    height:100%;

    display: flex;
    justify-content: center;
    align-items:center;
}

.nav-left img{
    height:95%;
    width:8rem;
    border-radius:100%;
    border:2px solid white;
    cursor: pointer;
}

.nav-left a{
    font-size: 1.4rem;
    margin:0 .2rem;
    height:100%;
}

.nav-center{
    display: flex;
    flex-direction: column;
    width:30%;
    position:absolute;
    top:2rem;
    left:36%;
    background-color: white;
    border-radius:5px;
}

.nav-center .fa-search{
    font-size:1.7rem;
    text-align: center;
}

.nav-center .input-div{
    width:100%;
    display: flex;
    justify-content: center;
    height:4rem;
    
  
}

.nav-center input{
    height:3.3rem;
    width:90%;
    font-size:1.6rem;
    padding-left:.4rem;
    margin-top:.4rem;
    padding-bottom:.3rem;
    color:black !important;
}

.nav-center button{
    padding:.3rem;
    text-align: center;
    height:3.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width:6.2rem;
    background-color: transparent;

}

.search-suggestions{
    /* width:100%; */
    max-height:20rem;
    color:black!important;
    font-size:2rem;
    width:100%;
    overflow-y: scroll;
    
}

.hide-suggestions{
    display:none;
    transition:all .5s ease-in-out;
}

.search-suggestions h6{
    width:100%;
    height:3.5rem;
    margin-top:.4rem;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:.7rem;
    color:grey;
    cursor: pointer;
}

.nav-right{
    width:20%;
    height:100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
   
}

.nav-right a{
    color:white;
    transition:all .3s ease;
    height:100%;
    width: 100%;
}

.nav-right .red-heart{
    font-size:3rem !important;
}
/*header ends here */



/*main starts here */
main{
    min-height:90vh;
    width:100vw;
    display: flex;
    justify-content: center;

}

/*Search resulst container to display elements received from api and display inside */
.search-results-container{
    min-height:100%;
    width:80vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.search-results-li{
    width: 20%;
    height:28rem;
    margin:5rem 2rem 0 2rem !important;
    background-color:white;
    border:3px solid transparent;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
}

.search-results-li:hover{
    box-shadow: 5px 5px 9px rgb(181, 179, 179);
    transform: scale(1.1);
    transition:all .2s linear;
    border:3px solid white;
}

.search-results-img{
    height:70%;
    width:100%;
}

.search-results-li h2{
    margin-top:.5rem;
}

.fa-heart{
    margin-top:.3rem;
    color:grey;
    font-size:2rem!important;
    margin-left:1rem;
}

.red-heart{
    color:red;
    animation-name:pumping;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    transition: all .2s linear;

}

/* animation for red-heart */
@keyframes pumping {
    0%,100%{
        transform:scale(1);
    }
    50%{
        transform: scale(1.3);
    }
}



/* MULTIPLE MEDIA QUERIES FOR MULTIPLE SCREEN SIZE */



/*MEDIA WIDTH 1000PX */
@media only screen and (max-width:1000px) {
    .search-results-li{
        min-width:27%!important;
    }

}

/* MEDIA WIDTH 800PX */
@media only screen and (max-width:800px){
    .search-results-li{
        width: 40% !important;
        height:28rem;
        margin-top:3rem;
        /* margin-right:1rem; */
    }
    
    .nav-left{
        width:20%;
    }

    .nav-center {
        width:45%;
    }

    .nav-right{
        width:15%;
    }
}

/*MEDIA WIDTH 600PX */

@media only screen and (max-width:500px){

    html{
        font-size: 40%;
    }

    .search-results-li{
        width: 85%!important;
        height:28rem;
        margin-top:3rem;
    }
    
    .nav-left{
        font-size: 1vmin !important;
        width:30%;
    }

    .nav-left img{
        height:90% !important;
        width:10rem;
    }

    .nav-center{
        width:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:2rem;
      
    }

    .nav-right{
        width:10%;
        color:red;
    }

    .nav-center input{
        width:80%;
    } 

    .fa-heart{
        font-size:3rem;
    }

    
}
